$success: #388E3C;
$info: #F9A825;
$danger: #c62828;

$appPurple: #663fac;

.success {
    background: $success;
}

.danger {
    background: $danger;
}

.info {
    background: $info;
}